* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 20px;
    background-color: rgb(6, 8, 24);
}

.card {
    background-color: #f56435;
    height: 450px;
    padding: 7px;
    border-radius: 20px;
}

.menu {
    height: 25px;
    width: 25px;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-title {
    text-align: center;
    color: white;
    margin: 20px 0 10px 0;
}

.card-text {
    text-align: center;
    color: white;
}

.card-icons {
    display: flex;
    justify-content: center;
    margin: 10px;
}

.card-icons img {
    height: 20px;
    margin: 0 5px; 
}

.btn.btn-primary {
    background-color: white;
    color: black;
    margin-top: 20px;
    align-self: center;
}

